include README.md
include CHANGES.rst
include setup.cfg
include setup.py
include LICENSE
include pyproject.toml

recursive-include xrtpy *.pyx *.c *.pxd *.json
recursive-include xrtpy/data *.genx *.geny *.txt
recursive-include docs *
recursive-include licenses *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
