include README.md
include CHANGES.rst
include setup.cfg
include setup.py
include LICENSE
include pyproject.toml

recursive-include xrtpy *.pyx *.c *.pxd *.genx *.geny *.json
recursive-include docs *
recursive-include licenses *

prune build
prune docs/_build
prune docs/api
prune tests
prune xrtpy/*/tests
global-exclude *.pyc *.o
