[build-system]
requires = ["setuptools >= 50.0",
            "setuptools_scm >= 6.0",
            "wheel >= 0.34.0"]  # ought to mirror 'requirements/build.txt'
build-backend = "setuptools.build_meta"


[tool.isort]
line_length = 88
wrap_length = 80
sections = ["FUTURE", "STDLIB", "FIRSTPARTY", "LOCALFOLDER"]
known_first_party = ["xrtpy"]
default_section = "STDLIB"
multi_line_output = 3
use_parentheses = true
include_trailing_comma = true
force_alphabetical_sort_within_sections = true
lines_between_types = 1

[ tool.gilesbot ]
  [ tool.gilesbot.pull_requests ]
    enabled = true
